.headerContainer {
    height: 300px;
    background-repeat: no-repeat !important;
    background-size: cover !important;

}

.headerWrapper {
    display: flex;
    align-items: end;
    height: 100%;
}

.headerWrapper h1 {
    color: white;
    padding: 0px 10px;
    border-right: 4px solid blue;
}